apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: 2017-09-23T06:56:39Z
  labels:
    kops.k8s.io/cluster: {{ cluster_name }} 
  name: master-us-east-1a
spec:
  cloudLabels:
    Name: P-AWS-Shore-KUBM
    application: vxp
    application-role: application
    cluster: kubernetes   
    environment: Prod
    location: shore
    owner: virginvoyages
    tech: kubernetes
  image: {{ image_name }} 
  machineType: {{ master_machine_type }}
  maxSize: {{ master_max_size }}
  minSize: {{ master_min_size }}
  rootVolumeSize: 100
  rootVolumeType: gp2
  nodeLabels:
    kops.k8s.io/instancegroup: master-us-east-1a
  role: Master
  subnets:
  - us-east-1a
